h1{
    font-family: $playfair;
    color: $white;
    font-weight: $black-italic;
    font-size: $xx-large;
}

h3{
  font-family: $playfair;
  color: $eerie-black;
  font-weight: $black-italic;
  font-size: $x-large;
}

h5{
    color:$nickel;
    font-family: $playfair;
    font-weight: $regular;
    font-size: $large;
    margin-bottom: 20px;
}

p{
  color: $nickel;
  font-family: $roboto;
  font-weight: $regular;
  font-size: $medium;  
    span {
      color: $spanish-pink;
    }
}

