h1{
    font-family: $playfair;
    color: $white;
    font-weight: $black-italic;
    font-size: $xx-large;
}

h5{
    color:$nickel;
    font-family: $playfair;
    font-weight: $regular;
    font-size: $large;
}

p{
  color: $nickel;
  font-family: $roboto;
  font-weight: $regular;
  font-size: $medium;  
}

