// esquema de colores
//primer esquema de color
$white: #fff;
$platinum: #e6e7e7;
$lightgray: #d1d1d1;

//segundo esquema de color
$fuzzywuzzy: #e56353;
$ruddypink: #d76c69;
$spanishpink: #ecbcba;

//tercer esquema de color
$eerieblack: #121619;
$raisinblack: #222323;
$nickel: #6c6e70;

//tipografia
$roboto: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;

//peso de fuente
$light:300;
$regular: 400;
$black-italic: 900;

//tamaño de fuente
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;
