.header{
    background-color:$eerie-black; 
}
//elemento_ bootstrap
.navbar-dark .navbar-nav .nav-link{
    color: $white;
}

//elemento_ bootstrap
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: $fuzzy-wuzzy;
}