
@media (max-width: 575.98px) {
    .section__about{
        text-align: center !important;
    }

}


.section{
    &__container{
        line-height:35px;
        display: inline;
    }
}


.section__about{
    text-align: left;
    vertical-align: middle;
}

.section__about__imagen{
  
    &-tamano img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 1px solid $nickel;
    }
}

