
@media (max-width: 575.98px) {
    .section__about{
        text-align: center !important;
    }

}


.section{
    &__container{
        line-height:35px;
        display: inline;
    }
}


.section__about{
    text-align: left;
}

.section__about__imagen{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    &-tamano{
        width: auto;
        height: 100%;
        margin-left: -50px;
      }
    }
}

