
@media (max-width: 575.98px) {
    .section__about{
        text-align: center !important;
    }

    .section__pages{
        background-color: $light-gray;
        padding: 8px 0;
    }
    
}


.section{
    &__container{
        line-height:35px;
        display: inline;
    }
}

.section__container__buttons{
   padding: 30px 0;
}



.section__about{
    text-align: left;
    vertical-align: middle;
    border-top: 1px solid $light-gray;
    padding-top: 50px;
    


}


.section__about__text{
 line-height: 35px;  
}

.section__pages{
    background-color: $light-gray;
    padding: 20px 0;
}
